<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입력 Form</title>
</head>
<body>
    <h1>Send Data With POST Method</h1>
    <form action="/proc" method="POST">
        <table>
            <tr>
                <td><label>UID</label></td>
                <td><input type="text" name="uid"></td>
            </tr>
            <tr>
                <td><label>PWD</label></td>
                <td><input type="password" name="pwd"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
</body>
</html>